In [12]:
import pandas as pd
import os

In [2]:
# read the file from local
df = pd.read_csv('data\loan_data.csv')

In [3]:
df

,geo_name,geo_level,race_or_ethnicity,gender,veteran,number_of_loans,loan_amount,quartiles_number_of_loans,quartiles_loan_amount,percentile_number_of_loans,percentile_loan_amount,pct_black_alone
0,"Buckingham County, Virginia",county,Black,All,Veteran,1,2250,Bottom 25% of geographies,Bottom 25% of geographies,0,3,32.9
1,"Lyon County, Nevada",county,Black,All,Veteran,1,16352,Bottom 25% of geographies,Bottom 25% of geographies,0,15,1.2
2,"Knox County, Illinois",county,Black,All,Veteran,2,30760,Bottom 25% of geographies,26-50% of geographies,22,29,8.8
3,"Lamar County, Mississippi",county,Black,All,Veteran,19,229071,Top 25% of geographies,51-75% of geographies,79,69,20.6
4,"Alachua County, Florida",county,Black,All,Veteran,22,340480,Top 25% of geographies,Top 25% of geographies,81,75,19.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1206965,37091,zip,White,Unanswered,Unanswered,2,3001339,26-50% of geographies,Top 25% of geographies,37,97,7.0
1206966,56301,zip,White,Unanswered,Unanswered,9,3010217,Top 25% of geographies,Top 25% of geographies,94,97,17.1
1206967,85260,zip,White,Unanswered,Unanswered,16,3270789,Top 25% of geographies,Top 25% of geographies,99,98,2.9
1206968,02379,zip,White,Unanswered,Unanswered,5,3548412,Top 25% of geographies,Top 25% of geographies,78,98,1.5
1206969,44131,zip,White,Unanswered,Unanswered,24,8547040,Top 25% of geographies,Top 25% of geographies,100,100,1.3

In [22]:
# my data might be too big to push to GitHub, I need to filter it down to a smaller size
file_path = os.path.join(os.getcwd(), 'data', 'loan_data.csv')
file_size_bytes = os.path.getsize(file_path)
file_size_mb = file_size_bytes / 1000000
print(f'File is {file_size_mb} MB')

File is 124.2093 MB

In [4]:
df['geo_level'].unique()

array(['county', 'zip', 'state'], dtype=object)

In [5]:
my_query = df.query("geo_level == 'state'")

In [6]:
[print(my_query[x].unique()) for x in my_query.columns]

['Illinois' 'Montana' 'Delaware' 'Michigan' 'Washington' 'Utah' 'Florida'
 'Nebraska' 'New Hampshire' 'North Carolina' 'Virginia' 'Rhode Island'
 'Arizona' 'Hawaii' 'North Dakota' 'Kentucky' 'Massachusetts' 'Colorado'
 'Arkansas' 'Louisiana' 'Connecticut' 'Minnesota' 'West Virginia' 'Oregon'
 'Indiana' 'Maryland' 'Missouri' 'South Carolina' 'Alabama' 'Kansas'
 'Idaho' 'Vermont' 'Wisconsin' 'Maine' 'Tennessee' 'Oklahoma' 'Wyoming'
 'Alaska' 'District of Columbia' 'South Dakota' 'California' 'Texas'
 'Iowa' 'Nevada' 'New York' 'New Mexico' 'Pennsylvania' 'Ohio'
 'Mississippi' 'Georgia' 'New Jersey']
['state']
['Black' 'Hispanic' 'Total' 'Asian' 'White']
['All' 'Female Owned' 'Unanswered' 'Male Owned']
['Unanswered' 'Veteran' 'All' 'Non-Veteran']
[  4558      8 171104 ...   7959   1080   4026]
[120196659    376256    605120 ...    242532  19429923  75113160]
['Top 25% of geographies' 'Bottom 25% of geographies'
 '26-50% of geographies' '51-75% of geographies']
['Top 25% of geographies' '26-50% of geographies'
 'Bottom 25% of geographies' '51-75% of geographies']
[ 94  22  18  80  48  26  96  28  14  46  98  82  84  54   9  12  40  56
  42  64   4  30  24  41   8  10  34  78  66  58  50  32  76  62  72   0
  74  68   2  38  21  52  86  70  92   6  11  89  57  73  90  36  53  23
  16  20  69  88  43  60  44  79  71 100  33  29  49  67  81  59  51  25
   7  31  61  35  19  55  65  83  91  27  85  45  37  39  63  75  87  13
  93  15  17  47  77  97]
[ 92  30  16  82  44  34  96  46  72  88  50   7  60  98  10  26  58  38
  52  74  64  66  20  28  37   8  68   6  54  76  62  40  90  36  70   2
  41  45  42  78  14  24   4  56  86  18  13  55  85  22  84  53  73  48
  94  15  32  12  69   0  23  80  19  83  79  71 100  27   9  39  11  63
  21  87  77  57  47  25  67  49  33  29  59  51  17  35  65  89  31  61
  91  43  93  81   3  75  97]
[14.1  0.6 22.  13.6  3.9  1.2 15.7  4.8  1.6 21.2 19.   6.4  4.5  1.9
  3.1  8.   7.3  4.1 15.2 31.9 10.8  6.6  3.4  9.4 29.8 11.3 26.2 26.5
  5.6  0.7  1.3  6.3  1.4 16.5  7.2  0.9  3.2 44.7  2.2  5.7 12.1  3.7
  9.3  2.1 11.  12.3 37.5 31.5 13.3]

[None, None, None, None, None, None, None, None, None, None, None, None]

In [7]:
my_query.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3986 entries, 541 to 1204950
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   geo_name                    3986 non-null   object
 1   geo_level                   3986 non-null   object
 2   race_or_ethnicity           3986 non-null   object
 3   gender                      3986 non-null   object
 4   veteran                     3986 non-null   object
 5   number_of_loans             3986 non-null   int64
 6   loan_amount                 3986 non-null   int64
 7   quartiles_number_of_loans   3986 non-null   object
 8   quartiles_loan_amount       3986 non-null   object
 9   percentile_number_of_loans  3986 non-null   int64
 10  percentile_loan_amount      3986 non-null   int64
 11  pct_black_alone             3986 non-null   float64
dtypes: float64(1), int64(4), object(7)
memory usage: 404.8+ KB

In [8]:
my_query['race_or_ethnicity'].value_counts()

Total       816
White       813
Black       795
Hispanic    789
Asian       773
Name: race_or_ethnicity, dtype: int64

In [9]:
my_query['gender'].value_counts()

All             1019
Male Owned      1017
Female Owned    1013
Unanswered       937
Name: gender, dtype: int64

In [10]:
my_query['veteran'].value_counts()

All            1020
Unanswered     1019
Non-Veteran    1010
Veteran         937
Name: veteran, dtype: int64

In [24]:
df_sampled = my_query.loc[(df['race_or_ethnicity'].isin(['White','Black','Hispanic','Asian'])) &
           (df['gender'].isin(['Male Owned','Female Owned'])) &
           (df['veteran'].isin(['Veteran','Non-Veteran']))]

df_sampled

,geo_name,geo_level,race_or_ethnicity,gender,veteran,number_of_loans,loan_amount,quartiles_number_of_loans,quartiles_loan_amount,percentile_number_of_loans,percentile_loan_amount,pct_black_alone
542,Montana,state,Hispanic,Female Owned,Veteran,8,376256,Bottom 25% of geographies,26-50% of geographies,22,30,0.6
5452,Arizona,state,White,Male Owned,Non-Veteran,10472,947717925,26-50% of geographies,51-75% of geographies,48,60,4.5
6432,Montana,state,Hispanic,Female Owned,Non-Veteran,96,2776646,Bottom 25% of geographies,Bottom 25% of geographies,12,10,0.6
8112,Nebraska,state,Hispanic,Male Owned,Non-Veteran,606,23311905,26-50% of geographies,26-50% of geographies,40,26,4.8
9579,Louisiana,state,Asian,Male Owned,Veteran,13,403325,26-50% of geographies,26-50% of geographies,41,37,31.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1192890,District of Columbia,state,Black,Female Owned,Veteran,45,1084029,26-50% of geographies,26-50% of geographies,49,49,44.7
1196323,Illinois,state,White,Male Owned,Non-Veteran,34747,2575025218,Top 25% of geographies,Top 25% of geographies,92,90,14.1
1199827,Nevada,state,White,Female Owned,Veteran,137,5212800,26-50% of geographies,26-50% of geographies,34,40,9.3
1204949,Connecticut,state,Black,Female Owned,Non-Veteran,1080,19429923,26-50% of geographies,26-50% of geographies,40,38,10.8
1204950,Wisconsin,state,Black,Female Owned,Non-Veteran,4026,75113160,51-75% of geographies,51-75% of geographies,58,58,6.3

In [25]:
# overwrite the original file with the sampled data to save space
df_sampled.to_csv('data\loan_data.csv', index=False)

In [26]:
file_path = os.path.join(os.getcwd(), 'data', 'loan_data.csv')
file_size_bytes = os.path.getsize(file_path)
file_size_mb = file_size_bytes / 1000000
print(f'File is {file_size_mb} MB')

File is 0.092897 MB

In [27]:
# This file size should be small enough to push to Github

In [29]:
# state specific factors to later enrich my data with:
# - political affiliation
# - gdp per capita 
# - crime rate
# - ethnic and racial composition(not just get as in df['pct_black_alone'])